<div class="container">

	<h1>List</h1>

	<ul>
		<% @links.each do |link| %>
		<li><%= link_to link.title, link.url %>  <a href="links/<%= link.id %>">view</a></li>
		<button>upvote</button> <button>downvote</button>
		<% end %>
	</ul>

</div>